.DS_Store
*~

*.soln.sv
*.soln.v
*.soln.json

*.tgz

*.vcd
*.fst
__pycache__
run
build
lint
results.json
verilator.json
icarus.json

icarus-tb
icarus.log
iverilog.log

formal

ice40.bin
ice40.asc
ice40.rpt
ice40.nplog

ice40.json
ice40.yslog

abstract.json
abstract.yslog

mapped.json
mapped.yslog

*.svg

bsg*